# Site Identity
SITE_NAME=ReceOTP
SITE_TAGLINE=Nomor Virtual OTP Instan, Aman, Murah
SITE_DOMAIN=https://receotp.my.id
SITE_LOGO_URL=/assets/logo.png
SITE_FAVICON_URL=/assets/favicon.ico
SUPPORT_EMAIL=jeeyhosting@gmail.com
TELEGRAM_SUPPORT=https://t.me/Jeeyhosting

# Server
PORT=3000
JWT_SECRET=HcjdsYfdgjkkfdsd53gcfhknddhnnnmnggndhhvDgvcDDHrhjjhjkhkksrehmkkHcjdsYfdgjkkfdsd53gcf
NODE_ENV=production
CRON_SECRET=ganti-ini-dengan-secret-untuk-cron-job

# RumahOTP API
RUMAHOTP_BASE_URL=https://www.rumahotp.my.id
RUMAHOTP_API_KEY=rk-dev-qDgD9lIsKMsTg42LjYve00WUx6XrqPnX

# Pakasir Payment Gateway
PAKASIR_PROJECT=jeeyhosting
PAKASIR_API_KEY=1fsqXLYFEwBNXrlaZqW2oIFbtHzOgufW

# Telegram Bot
TELEGRAM_BOT_TOKEN=8888968184:AAGBn6AyET1eOlwb1gY1MUFvP_73McFEGog
TELEGRAM_WEBHOOK_URL=https://receotp.my.id/webhook/telegram

# Database MariaDB
MONGODB_URImongodb+srv://ruangotp38_db_user:nYUcrL06sUPVzzmm@cluster0.enoy9w4.mongodb.net/?appName=Cluster0
# Pricing
DEFAULT_MARKUP=15
